.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.936523;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.919922;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.350000,0.000000,0.000000,0.350000,0,0);-ms-transform:matrix(0.350000,0.000000,0.000000,0.350000,0,0);-webkit-transform:matrix(0.350000,0.000000,0.000000,0.350000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{display:inline;margin-left:-8.288000px;}
._1{display:inline;margin-left:-2.520000px;}
._2{display:inline;margin-left:-1.160000px;}
._3{display:inline-block;width:1.056000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:40.000000px;}
.fs4{font-size:48.000000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:72.800000px;}
.fs0{font-size:112.000000px;}
.y1{bottom:0.140000px;}
.yf{bottom:456.960000px;}
.ye{bottom:489.860000px;}
.yd{bottom:513.100000px;}
.yc{bottom:542.500000px;}
.y0{bottom:587.300000px;}
.yb{bottom:660.660000px;}
.ya{bottom:692.860000px;}
.y9{bottom:725.060000px;}
.y8{bottom:757.260000px;}
.y7{bottom:789.460000px;}
.y6{bottom:821.660000px;}
.y5{bottom:853.860000px;}
.y4{bottom:913.640000px;}
.y3{bottom:1001.140000px;}
.y2{bottom:1045.660000px;}
.h6{height:28.164062px;}
.h7{height:33.796875px;}
.h4{height:52.171875px;}
.h5{height:52.751562px;}
.h3{height:81.156250px;}
.h1{height:495.600000px;}
.h2{height:1178.520000px;}
.h0{height:1178.800000px;}
.w0{width:833.000000px;}
.x0{left:0.000000px;}
.x3{left:79.520000px;}
.x2{left:113.400000px;}
.x1{left:238.700000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{display:inline;margin-left:-7.893333pt;}
._1{display:inline;margin-left:-2.400000pt;}
._2{display:inline;margin-left:-1.104762pt;}
._3{display:inline-block;width:1.005714pt;}
.fs3{font-size:38.095238pt;}
.fs4{font-size:45.714286pt;}
.fs1{font-size:68.571429pt;}
.fs2{font-size:69.333333pt;}
.fs0{font-size:106.666667pt;}
.y1{bottom:0.133333pt;}
.yf{bottom:435.200000pt;}
.ye{bottom:466.533333pt;}
.yd{bottom:488.666667pt;}
.yc{bottom:516.666667pt;}
.y0{bottom:559.333333pt;}
.yb{bottom:629.200000pt;}
.ya{bottom:659.866667pt;}
.y9{bottom:690.533333pt;}
.y8{bottom:721.200000pt;}
.y7{bottom:751.866667pt;}
.y6{bottom:782.533333pt;}
.y5{bottom:813.200000pt;}
.y4{bottom:870.133333pt;}
.y3{bottom:953.466667pt;}
.y2{bottom:995.866667pt;}
.h6{height:26.822917pt;}
.h7{height:32.187500pt;}
.h4{height:49.687500pt;}
.h5{height:50.239583pt;}
.h3{height:77.291667pt;}
.h1{height:472.000000pt;}
.h2{height:1122.400000pt;}
.h0{height:1122.666667pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x3{left:75.733333pt;}
.x2{left:108.000000pt;}
.x1{left:227.333333pt;}
}
